{
  "extends": "airbnb",
  "plugins": [ "react" ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-named-as-default": ["off"],
    "import/no-named-as-default-member": ["off"],
    "global-require": 0,
    "import/no-dynamic-require": 0
  }
}
