.no-scroll {
  overflow: hidden;
}

.has-navbar-fixed-top {
  padding-top: 60px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  flex: 1 0 auto;
}

.footer-container {
  left: 0;
  right: 0;
  display: flex;
  margin-top: 2rem;
  align-self: flex-end;
}

.comics-container {
  max-height: 400px;
  overflow: auto;
  overflow-y: scroll;
}

.notification {
  right: 0;
  z-index: 100;
  position: absolute;
}
