.loaderContainer {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: 10000;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.7);
  
  &.hidden {
    display: none;
  }

  & .loader {
    width: 2em;
    height: 2em;
    animation: spinAround 500ms infinite linear;
    border: 2px solid $primary;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
  }
}
