@import '~bulma/sass/utilities/initial-variables.sass';
@import "~bulma/sass/utilities/functions";

// ADD HERE variables you want to override
$red: #ED1D24;
$primary: $red;
$danger: #EF7A1D;
$footer-background-color: $red;


@import '~bulma';
